<mat-card>
  <mat-card-title>Messages</mat-card-title>
  <mat-card-content [style.overflow]="'auto'" [style.height]="'80vh'">
    <div *ngFor="let message of messages">
      [{{ message.datetime | date:'medium' }}] - {{ message.author.name }} : {{ message.text}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="content" fxLayout="row" fxLayoutAlign="stretch" fxFlexFill>
      <mat-form-field fxFlex="90">
        <input matInput #inputText placeholder="Enter message" (keyup.enter)="sendMessage()" [(ngModel)]="text">
      </mat-form-field>

      <button fxFlex="10" mat-raised-button (click)="sendMessage()">Send message</button>
    </div>
  </mat-card-actions>
</mat-card>